<section data-ng-controller="ToysController" data-ng-init="findOne()">
    <div class="page-header">
        <h1>Edit Toy</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="update()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="toy.name" id="name" class="form-control" placeholder="Name" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="barcode">Barcode</label>
                    <div class="controls">
                        <input type="text" data-ng-model="toy.barcode" id="barcode" class="form-control" placeholder="Barcode" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="price">Price</label>
                    <div class="controls">
                        <input type="text" data-ng-model="toy.price" id="price" class="form-control" placeholder="Price" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="description">Description</label>
                    <div class="controls">
                        <input type="text" data-ng-model="toy.description" id="description" class="form-control" placeholder="Description" required>
                    </div>
                </div>
              <div class="form-group">
                    <label class="control-label" for="brand">Brand</label>
                    <div class="controls">
                        <input type="text" data-ng-model="toy.brand" id="brand" class="form-control" placeholder="Brand" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="imgurl">Image URL</label>
                    <div class="controls">
                        <input type="text" data-ng-model="toy.imgurl" id="imgurl" class="form-control" placeholder="Image URl" required>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>