<section data-ng-controller="CraiglistsController" data-ng-init="initialize()">
    <div class="page-header">
    </div>
    <div>
        <form class="form-horizontal" data-ng-submit="scrap()" novalidate>
 
            <h4 id="message">Loading City</h4>
            <select  id="craiglistCities" class="form-control" ng-change="enableMe(1)" data-ng-model="city">
                <option value="">City</option>
                 <option ng-repeat="city in cityScap | toArray | orderBy:'name' | unique:'name'" value={{city.data}}>{{city.data}} - {{city.name}}</option>
            </select>
            <h4>Search Modes</h4>
            <div class="btn-group"=>
                <label  id="craiglistSections1" class="btn btn-default disabled" ng-change="getSelectors()" data-ng-model="type" btn-radio="'Jobs'">Jobs</label>
                <label id="craiglistSections2" class="btn btn-default disabled" ng-change="getSelectors()" data-ng-model="type" btn-radio="'Resume'">Resumes</label>
            </div>
            <div  ng-show="craiglistSpecifics">
                <div  style="margin-top: 20px; column-count: 3; -webkit-column-count: 3; -webkit-column-rule: 4px outset grey; column-rule: 4px outset grey;">
                    <h4 id="message1"></h4>
                    <div ng-repeat="job in jobScap" data-ng-model="specific">
                        <input type="checkbox" id="{{job.href}}" checkbox-group value={{job.href}}> {{job.text}}<br>
                    </div>
                </div>
                <br/>
                <accordion ng-show="accordionShow">
                    <accordion-group is-open="status.open">
                        <accordion-heading>
                            Saved Options <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                        </accordion-heading>
                        <a  ng-click="savedSearches()">Technology</a>
                    </accordion-group>
                </accordion>
            </div>
            <h4>Search</h4>
            <input disabled type="text" id="craiglistSearch" data-ng-model="search" placeholder="Search" class="form-control" ng-keyup="userTyped('craiglistGo')">
            <br /><button disabled id="craiglistGo">Go Now</button>
        </form>
        <br /><br />
    </div>
    <div class="list-group">
        <div ng-init="" style="width:100%; height:400px;" class="google-map" hello-maps="" latitude="40.77627" longitude="-73.910965" id="map-canvas"></div>
        <h4 data-ng-module="">Total Results:{{counter}}</h4>

        <a data-ng-repeat="craiglist in craiglists track by $index" data-ng-href="{{craiglist.url}}" class="list-group-item" target="_blank">
            <h4 class="list-group-item-heading" data-ng-bind="craiglist.title"></h4>
            <small>
                {{craiglist.c}} City: {{craiglist.city}} &bull; {{craiglist.location}} &bull;
                {{craiglist.date}} &bull; {{craiglist.category}}<br />
                {{craiglist.url}}
            </small>
        </a>
        <div id='container'></div>

    </div>
</section>