<section data-ng-controller="CraiglistsController" data-ng-init="initialize()">
    <div class="page-header">
        <h1>Craiglists</h1>
    </div>
    <div>
        <form class="form-horizontal" data-ng-submit="scrap()" novalidate>
 
            <h4 id="message">Loading City</h4>
            <select  id="craiglistCities" class="form-control" ng-change="enableMe(1)" data-ng-model="city">
                <option value="">City</option>
                 <option ng-repeat="city in cityScap | toArray | orderBy:'name' | unique:'name'" value={{city.data}}>{{city.data}} - {{city.name}}</option>
            </select>
            <br />
            <select disabled id="craiglistSections" class="form-control" ng-change="getSelectors(2)"  data-ng-model="type">
                <option value="">Select a Type</option>
                <option value="Jobs">Jobs</option>
                <option value="Sale">For Sale</option>
                <option value="res">Resumes</option>
            </select>


            <!--
            <select disabled class="form-control" id="craiglistSpecifics" ng-change="enableMe(3)" data-ng-model="specific"/>
                <option value="">Select Specifics</option>
                 <option ng-repeat="job in jobScap" value={{job.href}}>{{job.text}}</option>
            </select>
            <br />
            -->

            <div  style="margin-top: 20px; column-count: 3; -webkit-column-count: 3; -webkit-column-rule: 4px outset grey; column-rule: 4px outset grey;">
                <div id="craiglistSpecifics" ng-repeat="job in jobScap" data-ng-model="specific">
                    <input type="checkbox" checkbox-group value={{job.href}}> {{job.text}}<br>
                </div>
            </div>
            <br />


            <input disabled type="text" id="craiglistSearch" data-ng-model="search" placeholder="Search" class="form-control" ng-keyup="userTyped('craiglistGo')">
            <br /><button disabled id="craiglistGo">Search</button>
        </form>
        <br /><br />
    </div>
    <div class="list-group">
        <div ng-init="" style="width:100%; height:400px;" class="google-map" hello-maps="" latitude="40.77627" longitude="-73.910965" id="map-canvas"></div>
        <h4 data-ng-module="">Total Results:{{counter}}</h4>

        <a data-ng-repeat="craiglist in craiglists track by $index" data-ng-href="{{craiglist.url}}" class="list-group-item" target="_blank">
            <h4 class="list-group-item-heading" data-ng-bind="craiglist.title"></h4>
            <small>
                {{craiglist.c}} City: {{craiglist.city}} &bull; {{craiglist.location}} &bull;
                {{craiglist.date}} &bull; {{craiglist.category}}<br />
                {{craiglist.url}}
            </small>
        </a>
        <div id='container'></div>

    </div>
</section>